.signin{
   text-align: center;
   margin-bottom: 5%;
   margin-top: 5%;
   
}

.signin :first-child{
    background-color: rgb(232, 241, 224);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: solid  dodgerblue;
    border-width: 2px;
    font-weight: 15px;
    font-size: 15px;
    margin-left: 10px;
}
.signin :last-child{
    background-color: rgb(232, 241, 224);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: solid  dodgerblue;
    border-width: 2px;
    font-weight: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.input_all{
    text-align: center;

}

.input_all label{
    margin-right: 45%;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.input_all input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border-bottom: solid;
    border-color: slateblue;
    border-top: none;
   

}
.input_all button{
    margin-top: 5%;
    width: 100px;
    height: 30px;
    box-shadow: rgba(192, 32, 85, 0.8);
}

.foot{
    margin-top: 10%;
}

#create{
    text-decoration: none;
    position: relative;
    color: black;
    left: 20%;
}

form{
    width: 500px;
    height: 500px;
    background:rgba(255, 57, 122, 0.5);
    padding: 20px;
    margin-top: 5%;
    margin-left: 30%;
    
    
}
#Forgot{
    margin-left: 20%;
    text-decoration: none;
    color: black;
   position: relative;
   right: 15%;
}
body {
    background-image: url(../Blurred\ Backgrounds\ FREE\ Downloads.jfif);

    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    text-align: center;
    margin-right: 20%;
    border-bottom: solid;
    border-width: 5px;
    border-left: solid;
    box-shadow: inset;
    width: 100px;
    height: 50px;

    
}





